.bg-mask {
  overflow: hidden;
  position: relative;
}
.bg-mask::after {
  content: url(../../assets/img/overlay-large.png);
  width: 100%;
  position: absolute;
  bottom:-3px;
  left:0;
  z-index: 2;
}
.first {
  margin-right: 0!important;
}
.last {
  margin-left: 0 !important;
}
.divider-container {
  width: 100%;
  position: relative;
  text-align: center;
  line-height: 31px;
  .divider {
    border-top:1px solid gray;
    position: absolute;
    top:50%;
    width: 100%;
  }
  .divider__text {
    background: white;
    padding:5px;
    z-index: 99;
    position: relative;
    display: inline-block;
  }
}
