.bg-mask::after {
  content: url(../../assets/img/overlay-large.png);
  width: 100%;
  position: absolute;
  bottom:-3px;
  z-index: 2;
}
.first {
  margin-right: 0!important;
}
.last {
  margin-left: 0 !important;
}
