.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  z-index: 999;
}
.icon--right {
  position: absolute;
  top: 10px;
  right:10px;
}
.icon--left {
  position: absolute;
  top: 10px;
  left: 10px;
}
.icon--center {
  position: absolute;
  width: 35%;
  height: 35%;
  top:50%;
  left:50%;
  z-index: 4;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  @include breakpoint(mobile) {
    top: 25%;
  }
}
.icon--like {
  @extend .icon;
  background-image: url("../../assets/img/like-icon-inactive.png");
}
.active--icon .icon--like {
  background-image: url("../../assets/img/like-icon-active.png");
}
.icon--play {
  @extend .icon;
  background-image: url("../../assets/img/play-icon-large.png");
}
.icon--fav {
  @extend .icon;
  background-image: url("../../assets/img/favorite.png");
}
.icon--maindish {
  @extend .icon;
  background-image: url("../../assets/img/maindish.png");
}
.icon--dessert {
  @extend .icon;
  background-image: url("../../assets/img/dessert.png");
}
.icon--appetizer {
  @extend .icon;
  background-image: url("../../assets/img/appetizer.png");
}
.icon--list {
  @extend .icon;
  background-image: url("../../assets/img/list-icon-large.png");
}
.icon--chat {
  @extend .icon;
  background-image: url("../../assets/img/edit-recipe.png");
}
.icon--f-instagram {
  @extend .icon;
  background-image: url("../../assets/img/instaico.png");
}
.icon--f-pinterest {
  @extend .icon;
  background-image: url("../../assets/img/pinterestico.png");
}
.icon--f-gplus {
  @extend .icon;
  background-image: url("../../assets/img/gplus.png");
}
.icon--f-twitter {
  @extend .icon;
  background-image: url("../../assets/img/twittico.png");
}
.icon--f-youtube {
  @extend .icon;
  background-image: url("../../assets/img/ytico.png");
}
.icon--f-facebook {
  @extend .icon;
  background-image: url("../../assets/img/fbico.png");
}
.icon--comment {
  @extend .icon;
  background-image: url("../../assets/img/comment-ico.png");
}
.icon--add-white {
  @extend .icon;
  background-image: url("../../assets/img/add-ico.png");
}
