.sleekslider-container {
  width:100%;
  position:relative;
  .sleekslider {
    @include breakpoint(mobile) {
      width: 10000% !important;
      left:0;
      top:0;
      padding-bottom:0 !important;
      position:relative;
      overflow: hidden;
    }
  }
  .slide {
    @include breakpoint(mobile) {
      width:100vw !important;
      float:right;
      display:block;
      float:right;
      margin:0 !important;
    }
  }
  .arrow-container {
    width:100%;
    height:100%;
    display:none;
    @include breakpoint(mobile) {
      display:block;
    }
  }
  .sleekslider__arrow {
    width:50px;
    height:50px;
    cursor:pointer;
    position:absolute;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .sleekslider__arrow--left {
    @extend .sleekslider__arrow;
    left:0;
    background-image: url("../../assets/img/left.png");
  }
  .sleekslider__arrow--right {
    @extend .sleekslider__arrow;
    background-image: url("../../assets/img/right.png");
    right:0;
  }
}
