.article {
  width: 100%;
  padding-top: 7px;
}
.article__heading {
  padding: 33px 0 20px;
}
.article__author {
  width: 100%;
  float: right;
  margin-bottom: 7px;
  .social {
    margin-top: 23px;
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
}
.article__author__image-wrapper {
  float: right;
  border-radius: 50%;
}
.article__author__image {
  @include breakpoint(mobile) {
    width: 47px;
  }
}
.article__author__name {
  float: right;
  margin-right: 17px;
  padding-top: 30px;
  @include breakpoint(mobile) {
    margin-right: 11px;
    padding-top: 18px;
  }
}
.social {
  float: left;
}
.social__item {
  border:1px solid #ccc;
}
.social__item__image {
  width: 33px;
  height: 33px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @include breakpoint(mobile) {
    width: 40px;
    height: 40px;
  }
}
.twitter {
  background-image: url("../../assets/img/twitter-ico.png");
  background-size: 19px;
}
.facebook {
  background-image: url("../../assets/img/fb-ico.png");
  background-size: 11px;
  @include breakpoint(mobile) {
    background-size: 14px;
  }
}
.whatsup {
  background-image: url("../../assets/img/whatsup-ico.png");
  background-size: 25px;
}
.social__item__info {
  float: left;
  height: 33px;
  padding: 12px;
  border-right: 1px solid #ccc;
  @include breakpoint(mobile) {
    height: 40px;
    padding: 12px 18px;
    font-size: calc-rem(16px);
  }
}
.social__item {
  display: inline-block;
  margin-right: 9px;
  @include breakpoint(mobile) {
    margin-right: 10px;
  }
}
.article__item {
  width: 100%;
  margin-bottom: 36px;
  float: left;
}
.article__text {
  margin-bottom: 36px;
  line-height: 27px;
}
.article__social {
  overflow: hidden;
  margin: 33px 0;
  .social {
    @include breakpoint(mobile) {
      display: inline-block;
      float: none;
      margin-bottom: 20px;
    }
  }
}
.article__button {
  @extend .button;
  p {
    float: right;
  }
  img {
    float: right;
    margin-top: 7px;
    margin-left: 14px;
  }
}
.article__button__ico {
  height: 37px;
  width: 18px;
  float: right;
}
