.appetizer__container {
  width: 100%;
}
.appetizer__heading {
  padding: 39px 0 12px;
}
.appetizer {
  width: 31.66%;
  margin: 1.255%;
  float: right;
  position: relative;
  h3 {
    position: absolute;
    bottom: 30px;
    padding: 0 25px;
    display:none;
  }
  @include breakpoint(mobile) {
    display: none;
  }
}
.appetizer:nth-child(2){
  margin-right: 0;
}
.appetizer:nth-child(4){
  margin-left: 0;
}
.appetizer--big {
  width: 100%;
  margin:0;
  @include breakpoint(mobile) {
    display: block;
  }
  h3 {
    display:block;
  }
}
.appetizer__item {
  width: 100%;
}
