.add__container {
  width: 100%;
  width: 1000px;
  margin: 0 auto;
  position: fixed;
  z-index: 999;
  overflow: visible;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 999;
  height: 215px;
  @include breakpoint(mobile) {
    display: none;
  }
}
.add {
  // background-image: url("../../assets/img/add-pattern.png");
}
.add__top {
  height: 215px;
  @extend .add;
}
.add__left {
  position: fixed;
  z-index: 999;
  height: 1100px;
  width: 220px;
  left: 50%;
  margin-left: -719px;
  top: 0;
  @extend .add;
}
.add__right {
  position: fixed;
  z-index: 998;
  height: 1100px;
  width: 220px;
  right:  50%;
  margin-right:-719px;
  top: 0;
  @extend .add;
}
