.button {
  color:white;
  line-height: 40px;
  height: 40px;
  padding:0 10px;
  background: #F03D65;
  text-align: center;
  float: right;
  position: relative;
  z-index: 5;
  font-size: calc-rem(15px);
  min-width: 120px;
}
.button--slim {
  @extend .button;
  height: 34px;
  line-height: 34px;
  padding: 0px 20px;
}
.like-button {
  width: 40px;
  height: 40px;
  background-image: url('../../assets/img/like-icon-inactive.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  &.active {
    background-image: url('../../assets/img/like-icon-active.png');
  }
}
.play-button {
  width: 40px;
  height: 40px;
  background-image: url('../../assets/img/play-icon-large.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
}
