.b-chef-of-the-month {
  @extend %box--middle;
  border:1px solid #ccc;
  text-align: center;
  img {
    display: inline;
  }
  @include breakpoint(mobile) {
    width: 100%;
    margin:0;
  }
}
.b-chef-of-the-month__heading {
  padding: cp(18px, 310px) 0;
  height: cp(57px, 310px);
  margin-bottom: cp(13px, 633px);
}
.b-chef-of-the-month__logo {
  width: 15%;
}
.b-chef-of-the-month__image-wrap {
  border-radius: 50%;
  margin-top: cp(7px, 310px);
}
.b-chef-of-the-month__image {
  width: 28%;
}
.b-chef-of-the-month__name {
  margin-top: cp(12px, 310px);
  height: cp(12px, 310px);
}
.b-chef-of-the-month__bottom-text {
  background: #F9F8F4;
  margin-top: cp(24px, 310px);
  line-height: 40px;
  padding: 0 8px;
  display: block;
  float: right;
  width: 100%;
  position: absolute;
  bottom: 0;
  color:#f03d65;
}
.b-chef-of-the-month__bottom-left {
  float: left;
}
.b-chef-of-the-month__bottom-right {
  float: right;
}
.number {
  margin: 5px;
}
