.day-menu {
  width:100%;
  border:1px solid #A56170;
  padding:cp(20px,633px);
  overflow: hidden;
  @include breakpoint(mobile) {
    padding: 8px;
    border:none;
    h3 {
      position: relative;
      background: white;
      color: #333;
      text-shadow: none;
    }
  }
}
.day-menu__heading-container {
  width: 100%;
  float: right;
  border-bottom:2px solid #A56170;
}
.day-menu__logo {
  height: 40px;
  width: 106px;
  margin-top: -8px;
  float: left;
  height: auto;
  @include breakpoint(mobile) {
    width: 74px;
  }
}
.day-menu__heading {
  // width: 80%;
  float: right;
  padding-top:5px;
  margin-bottom: 14px;
}
.day-menu__item {
  overflow: hidden;
  @extend .bg-mask;
  @extend %box--xsmall;
  margin: cp(19px, 592px) cp(12px, 592px);
  margin-bottom: 0;
  &:nth-child(2){
    margin-right: 0
  }
  &:nth-child(4){
    margin-left: 0
  }
  @include breakpoint(mobile) {
    h3 {
      font-size: 14px !important;
      line-height: 21px;
    }
  }
}
.day-menu__item-image {
  width: 100%;
}
.day-menu__item-ico {
  position: absolute;
  width: 35%;
  top:50%;
  left:50%;
  z-index: 4;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  @include breakpoint(mobile) {
    top: 25%;
  }
}
