.featured-cookbooks {
  width: 100%;
  float: right;
  text-align: center;
  padding: 40px 0px 6px;
}
.featured-cookbooks__item {
  display: inline-block;
  margin:cp(23px, 960px);
  width: cp(179px, 960px);
  img {
    width: 100%;
  }
}
.featured-cookbooks__list {
  padding-top: 13px;
  margin-top: 22px;
  padding-bottom: 19px;
  background: #F7F5E6;
}
.featured-cookbooks__heading {
  text-align: right;
}
.featured-cookbooks__name {
  color:#F03D65;
  margin: 20px 0 18px;
  font-size: 16px;
}
.featured-cookbooks__info {
  font-size: 18px;
}
