.b-featured-content {
  @extend %box--middle;
  border:1px solid #ccc;
  @include breakpoint(mobile) {
    width: 100%;
    margin-bottom: 32px;
  }
}
.b-featured-content__image {
  width: 100%;
}
.b-featured-content__button {
  @extend .button--slim;
  width: 141px;
  margin: 0 auto;
  float: none !important;
  margin-top: -21px;
  z-index: 10;
  position: relative;
}
.b-featured-content__text {
  text-align: center;
  font-size: calc-rem(24px);
  padding: cp(20px,310px) cp(20px,310px) cp(35px,310px);
  line-height: 26px;
  height: cp(107px, 308px);
}
