.b-featured-video {
  @extend %box--xlarge;
  @extend .bg-mask;
  position: relative;
  margin-bottom: 39px;
  @include breakpoint(mobile) {
    margin-bottom: 31px;
  }
}
.ch-item {
  position: relative;
}
