.b-ingredient-pagination {
  width: 100%;
  margin-bottom: 50px;
}
.b-ingredient-pagination__item {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border:1px solid #ccc;
  margin-bottom: 4px;
}
