.b-product-teaser {
  width: 100%;
  width: 100%;
  background: #F7F5E6;
}
.b-product-teaser__item {
  width: 100%;
  img {
    width: 100%;
    display: block;
  }
}
.b-product-teaser__content {
  padding: 9% 7%;
  p {
    font-size: 16px;
    line-height: 25px;
  }
}
.b-product-teaser__heading {
  font-size: 25px;
  margin-bottom: 19px;
}
