.pagination {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 18px;
  float: left;
  @include breakpoint(mobile) {
    display: none;
  }
}
.pagination--mobile {
  @extend .pagination;
  display: none;
  @include breakpoint(mobile) {
    display: block;
  }
}
.pagination__item {
  display: inline-block;
  height: 32px;
  width: 32px;
  background: white;
  line-height: calc-rem(30px);
  margin: 1px;
  border: 1px solid #ccc;
  color: #333;
  margin-bottom: 5px;
  vertical-align: bottom;
  &.active {
    background: #F03D65;
    color: white;
  }
}
.pagination__item--next {
  background-image:url("../../assets/img/next.png");
  background-repeat:no-repeat;
  background-position:center;
  // background-size:contain;
}
.pagination__item--last {
  background-image:url("../../assets/img/last.png");
  background-repeat:no-repeat;
  background-position:center;
  // background-size:contain;
}
