.related-articles {
  width: 100%;
  overflow: hidden;
  margin-bottom: 69px;
}
.related-articles__item {
  @extend %box--small;
  @extend .bg-mask;
  overflow: hidden;
  margin: cp(10px,633px);
  @include breakpoint(mobile) {
    width: 47%;
    margin-bottom: 28px;
    h3 {
      position: relative;
      color:#333;
      text-shadow:none;
    }
    &:after {
      display:none;
    }
  }
}
.related-articles .related-articles__item:nth-child(odd){
  @include breakpoint(mobile) {
    margin-right: 0;
    float: right;
  }
}
.related-articles .related-articles__item:nth-child(even){
  @include breakpoint(mobile) {
    margin-left: 0;
    float: left;
  }
}
