.b-recipe-list {
  @extend .media__container;
  .b-rating {
    bottom: 0px;
  }
}
.b-recipe-list--padding-mobile {
  @include breakpoint(mobile) {
    padding:0 11px;
  }
}
.b-recipe-list__item {
  @extend .media;
}
.b-recipe-list__item__media {
  @extend .media__item;
  .like-button {
    position: absolute;
    top: 10px;
    right:10px;
  }
  .play-button {
    position: absolute;
    top: 10px;
    left: 8%;
  }
  @include breakpoint(mobile) {
    width: 48%;
    padding-left:0;
    margin-left: 7%;
  }
}
.b-recipe-list__item__content {
  @extend .media__content;
  @include breakpoint(mobile) {
    width: 45%;
  }
}
.b-recipe-list__item__name {
  color: #f03d65;
}
