.b-recipe-tip__container {
  float: right;
  margin-top: 46px;
}
.b-recipe-tip__button {
  float: right;
  color: white;
  background: #4A4A4A;
  padding: 8px 39px;
}
.b-recipe-tip {
  width: 100%;
  float: right;
  background: #F7F5E6;
}
.b-recipe-tip__item {
  padding:13px 8px 13px 23px;
  float: right;
  img {
    width:111px;
  }
  @include breakpoint(mobile) {
    width: 100%;
    padding: 0;
    img {
      width: 100%;
    }
  }
}
.b-recipe-tip__content {
  padding: 20px 0;
  line-height: 24px;
  p {
    padding-left:20px;
  }
}
.b-recipe-tip__tags {
  float: right;
  padding: 33px 8px;
  p {
    float: right;
    margin-left: 10px;
    font-size: 13px;
    color: #F03D65;
    line-height: 24px;
  }
}
