.b-social {
  float: left;
}
.b-social__item {
  border:1px solid #ccc;
}
.b-social__item__image {
  width: 33px;
  height: 33px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.twitter {
  background-image: url("../../assets/img/twitter-ico.png");
  background-size: 19px;
}
.facebook {
  background-image: url("../../assets/img/fb-ico.png");
  background-size: 11px;
}
.whatsup {
  background-image: url("../../assets/img/whatsup-ico.png");
  background-size: 25px;
}
.b-social__item__info {
  float: left;
  height: 33px;
  padding: 12px;
  border-right: 1px solid #ccc;
}
.b-social__item {
  display: inline-block;
  margin-right: 9px;
}
