.b-sb-trending {
  width: 100%;
  border:1px solid #ccc;
  overflow: hidden;
  padding: 5%;
  margin-top: 38px;
  margin-bottom: 29px;
}
.b-sb-trending__heading-container {
  width: 100%;
  float: right;
  border-bottom: 2px solid #F03D65;
  margin-bottom: 24px;
}
.b-sb-trending__logo {
  margin-top: 10px;
  float: left;
  height: auto;
}
.b-sb-trending__heading {
  float: right;
  padding-top: 5px;
  margin-bottom: 14px;
}
.b-sb-trending__item {
  float: right;
  width: 100%;
  margin-bottom: 23px;
  position: relative;
}
.b-sb-trending__image {
  width: 47%;
  float: right;
}
.b-sb-trending__content {
  width: 53%;
  float: right;
  padding-right: 6%;
}
.b-sb-trending__text {
  font-size: calc-rem(19px);
  line-height: calc-rem(22px);
}
