.slider {
  width: 100%;
  overflow: hidden;
  padding: 34px 0px 22px;
  position: relative;
  @include breakpoint(mobile) {
    height: 54vw;
    margin: 34px 0px 22px;
  }
}
.slider__box {
  @extend .bg-mask;
  @extend %box--xsmall;
  width: cp(181px, 960px);
  margin:0;
  margin-right: cp(21px, 960px);
  margin-bottom: cp(23px, 960px);
  overflow: hidden;
  position: relative;

  &.first {
    @extend %box--large;
    margin: 0;
  }
  @include breakpoint(mobile) {
    width: 100%;
    top:0;
    left: 0;
    height: 57vw !important;
    position:absolute;
    margin:0;
    &.first {
      width: 100%;
      display: block;
      z-index: 20;
    }
  }
}
.slider__box-image {
  width: 100%;
  display: block;
  @include breakpoint(mobile) {
    display: none;
  }
}
.slider__box-image--mobile {
  width: 100%;
  display: none;
  @include breakpoint(mobile) {
    display: block;
  }
}
.slider__box-play-icon {
  position: absolute;
  top: 5%;
  left: 4%;
}
.overlay {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
