.step-by-step-recipe {
  @extend %box--xlarge;
  position: relative;
  margin-bottom: 66px;
  @extend .bg-mask;
  img {
    display: inline;
  }
  @include breakpoint(mobile) {
    margin-bottom: 34px;
    .ch-heading {
      padding-top:0;
    }
  }
}
