.slider {
  width: 100%;
  overflow: hidden;
  padding: 34px 0;
}
.slider__box {
  margin:0 21px 23px 0px;
  overflow: hidden;
  position: relative;
  @extend .bg-mask;
  @extend %box--xsmall;
  &.first {
    @extend %box--large;
    margin: 0;
  }
}
.slider__box-image {
  width: 100%;
  display: block;
}
.slider__box-play-icon {
  position: absolute;
  top: 5%;
  left: 4%;
}
.overlay {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
