.trending-fb-recipes {
  float: right;
  border: 1px solid gray;
  padding: 17px;
  .heading-container {
    width: 100%;
    float: right;
    border-bottom:2px solid red;
  }
  .heading {
    float: right;
    padding-top:5px;
    margin-bottom: 14px;
  }
  .logo {
    height: 40px;
    margin-top: 10px;
    float: left;
    height: auto;
  }
  .item {
    @extend %box--xsmall;
      margin: cp(12px,633px) cp(12px, 633px);
    &:nth-child(2), &:nth-child(5){
      margin-right: 0
    }
    &:nth-child(4), &:nth-child(7){
      margin-left: 0
    }
    @include breakpoint(mobile) {
      width: 100%;
      margin:10px 0;
    }
  }
  .item-image {
    width: 100%;
    @include breakpoint(mobile) {
      width: 50%;
    }
  }
  .item__heading {
    @include breakpoint(mobile) {
      width: 50% !important;
      position: relative !important;
      float: left;
      color:#333 !important;
      text-shadow: none;
    }
  }
  .item__ico {
    position: absolute;
    width: 35%;
    top:50%;
    left:50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
  @include breakpoint(mobile) {
    padding: 0;
    border:none;
  }
}
