.trending-topic  {
  width: 100%;
  overflow: hidden;
}
.trending-topic__item {
  @extend %box--small;
  @extend .bg-mask;
  overflow: hidden;
  margin: cp(10px,633px);
  img {
    width: 100%;
    display: block;
  }
  @include breakpoint(mobile) {
    width: 100%;
  }
}
