%box {
  display: block;
  float: right;
  overflow: hidden;
  img {
    vertical-align: bottom;
  }
}
%box--xsmall {
  @extend %box;
  width: cp(181px, 592px);
  // height: 181px;
  position: relative;
  h3 {
    position: absolute;
    color: white;
    line-height: 20px;
    width: 100%;
    padding: 4%;
    bottom: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    z-index: 3;
  }
}
%box--small {
  @extend %box;
  width: cp(191px, 633px);
  position: relative;
  h3 {
    position: absolute;
    color: white;
    line-height: 20px;
    width: 100%;
    padding: 4%;
    bottom: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
  }
}
%box--middle {
  @extend %box;
  width:49%;
  margin:0 1%;
}
%box--large {
  @extend %box;
  width: cp(556px, 960px);
  height: auto;
  overflow: hidden;
  h3 {
    font-size:30px;
  }
}
%box--xlarge {
  @extend %box;
  width: 100%;
  h3 {
    font-size:30px;
  }
  .ch-item {
    width: 100%;
    display: block;
  }
  .ch-heading {
    padding: 33px 0 13px;
  }
  .ch-content {
    position: absolute;
    bottom: 0;
    padding: 20px;
  }
  .ch-button {
    @extend .button;
    margin-bottom: 20px;
  }
}
