.nav {
  width:100%;
  background: #F03D65;
  color:white;
  padding:0 40px;
  &.active {
    max-height: 173px;
  }
  @include breakpoint(mobile) {
    padding:0;
    overflow: hidden;
    max-height: 0;
  }
}
.nav__item {
  display: inline;
  line-height: 42px;
  margin-left:40px;
  @include breakpoint(mobile) {
    width: 50%;
    display: block;
    float: right;
    background: #f1f1f1;
    margin: 0;
    padding: 0 10px;
    color: #333;
    border-bottom: 1px solid #ccc;
    &:nth-child(even){
      border-right: 1px solid #ccc;
    }
  }
}
.home img {
  vertical-align: middle;
}
