@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

html {
  font-family: "Droid Arabic Kufi", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #333; }

h2 {
  font-size: 30px;
  color: #333; }

h3 {
  color: white;
  text-shadow: 2px 1px #503C2F;
  z-index: 3;
  position: relative; }

.bg-mask::after, .slider__box::after, .day-menu__item::after, .featured-video::after, .trending-topic__item::after, .step-by-step-recipe::after {
  content: url(../../assets/img/overlay-large.png);
  width: 100%;
  position: absolute;
  bottom: -3px;
  z-index: 2; }

.first {
  margin-right: 0 !important; }

.last {
  margin-left: 0 !important; }

.slider__box, .day-menu__item, .trending-fb-recipes .item, .trending-topic__item, .featured-content, .chef-of-the-month, .slider__box.first, .featured-video, .step-by-step-recipe {
  display: block;
  float: right;
  overflow: hidden; }
  .slider__box img, .day-menu__item img, .trending-fb-recipes .item img, .trending-topic__item img, .featured-content img, .chef-of-the-month img, .slider__box.first img, .featured-video img, .step-by-step-recipe img {
    vertical-align: bottom; }

.slider__box, .day-menu__item, .trending-fb-recipes .item {
  width: 30.57432%;
  position: relative; }
  .slider__box h3, .day-menu__item h3, .trending-fb-recipes .item h3 {
    position: absolute;
    color: white;
    line-height: 20px;
    width: 100%;
    padding: 4%;
    bottom: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    z-index: 3; }

.trending-topic__item {
  width: 30.17378%;
  position: relative; }
  .trending-topic__item h3 {
    position: absolute;
    color: white;
    line-height: 20px;
    width: 100%;
    padding: 4%;
    bottom: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px; }

.featured-content, .chef-of-the-month {
  width: 49%;
  margin: 0 1%; }

.slider__box.first {
  width: 57.91667%;
  height: auto;
  overflow: hidden; }
  .slider__box.first h3 {
    font-size: 30px; }

.featured-video, .step-by-step-recipe {
  width: 100%; }
  .featured-video h3, .step-by-step-recipe h3 {
    font-size: 30px; }
  .featured-video .ch-item, .step-by-step-recipe .ch-item {
    width: 100%;
    display: block; }
  .featured-video .ch-heading, .step-by-step-recipe .ch-heading {
    padding: 33px 0 13px; }
  .featured-video .ch-content, .step-by-step-recipe .ch-content {
    position: absolute;
    bottom: 0;
    padding: 20px; }
  .featured-video .ch-button, .step-by-step-recipe .ch-button {
    margin-bottom: 20px; }

body, html {
  direction: rtl; }

.page-wrapper, .page-wrapper--transparent, .header-wrapper {
  width: 100%;
  max-width: 997px;
  margin: 0 auto;
  background: white;
  height: 100%;
  padding: 0 18px;
  overflow: hidden; }
  @media (max-width: 450px) {
    .page-wrapper, .page-wrapper--transparent, .header-wrapper {
      padding: 0; } }

.page-wrapper--transparent {
  background: transparent; }

.header-wrapper {
  padding: 0; }

.division, .division--8, .division--4 {
  float: right; }

.division--8 {
  width: 65.96%; }
  @media (max-width: 450px) {
    .division--8 {
      width: 100%; } }

.division--4 {
  width: 34%;
  padding-right: 20px; }
  @media (max-width: 450px) {
    .division--4 {
      width: 100%;
      padding: 0; } }

.header {
  width: 100%; }
  @media (max-width: 450px) {
    .header {
      display: none; } }

.header__top {
  width: 100%;
  line-height: 55px;
  height: 63px; }

.header__top__item {
  float: left;
  margin-left: 25px; }

.header__middle {
  overflow: hidden;
  margin-bottom: 39px; }

.header__logo-container {
  float: right;
  margin-right: 17px;
  width: 22.5677%; }

.header__logo {
  width: 100%; }

.search {
  float: right;
  padding: 20px 55px; }

.search__input {
  line-height: 34px;
  width: 425px;
  float: right; }

.search__button, .footer__search-button {
  height: 40px;
  line-height: 40px;
  width: 39px;
  float: right;
  background-image: url(../../assets/img/searchico.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F03D65; }

.advanced-search--text {
  float: right;
  line-height: 40px;
  padding: 0 10px; }

.advanced-search--button {
  float: left;
  height: 40px;
  width: 40px;
  background: url(../../assets/img/advanced.png);
  background-repeat: no-repeat;
  background-position: center; }

.nav {
  width: 100%;
  background: #F03D65;
  color: white;
  padding: 0 40px; }

.nav__item {
  display: inline;
  line-height: 42px;
  margin-left: 40px; }

.footer {
  border-top: 3px solid #F03D65;
  background: #F7F5E6;
  overflow: hidden;
  clear: both; }

.footer__top {
  overflow: hidden;
  border-bottom: 1px solid gray; }

.footer__search-container {
  float: right; }
  @media (max-width: 450px) {
    .footer__search-container {
      width: 100%;
      text-align: center; } }

.footer__search-heading {
  padding: 48px 0 29px;
  width: 100%; }

.footer__search-input-container {
  overflow: hidden;
  padding-bottom: 25px; }
  @media (max-width: 450px) {
    .footer__search-input-container {
      width: 80%;
      margin: 0 auto; } }

.footer__search-input {
  line-height: 36px;
  /* border: none; */
  width: 242px;
  float: right; }
  @media (max-width: 450px) {
    .footer__search-input {
      width: 80%; } }

.footer__search-button {
  background: #F03D65;
  color: white;
  padding: 0 13px;
  width: auto; }
  @media (max-width: 450px) {
    .footer__search-button {
      width: 20%;
      padding: 0; } }

.footer__row {
  width: 100%;
  float: left;
  padding-top: 46px;
  padding-bottom: 36px;
  border-bottom: 1px solid; }

.footer__column {
  float: right;
  width: 25%; }
  @media (max-width: 450px) {
    .footer__column {
      display: none;
      width: 100%; } }

.footer__column--first {
  display: block;
  text-align: center; }

.footer__item {
  margin-bottom: 12px; }

.footer__bottom {
  float: right;
  width: 100%; }

.copyright {
  float: right;
  text-align: center; }
  @media (max-width: 450px) {
    .copyright {
      width: 100%; } }

.copyright__text {
  padding: 16px 0 19px; }
  @media (max-width: 450px) {
    .copyright__text {
      text-align: center; } }

.webedia-logo {
  margin-bottom: 36px; }

.bottom__links {
  float: left;
  padding: 14px 52px; }
  @media (max-width: 450px) {
    .bottom__links {
      display: none; } }

.bottom__link {
  display: inline; }

.footer-social {
  margin-top: 95px;
  float: left;
  margin-left: 54px; }
  @media (max-width: 450px) {
    .footer-social {
      margin: 0 auto;
      float: none;
      text-align: center; } }

.footer-social__item {
  height: 24px;
  display: inline;
  margin-right: 10px; }

.slider {
  width: 100%;
  overflow: hidden;
  padding: 34px 0px 22px;
  position: relative; }

.slider__box {
  width: 18.85417%;
  margin: 0;
  margin-right: 2.1875%;
  margin-bottom: 2.39583%;
  overflow: hidden;
  position: relative; }
  .slider__box.first {
    margin: 0; }
  @media (max-width: 450px) {
    .slider__box {
      width: 100%;
      display: none;
      top: 0; }
      .slider__box.first {
        width: 100%;
        display: block; } }

.slider__box-image {
  width: 100%;
  display: block; }

.slider__box-play-icon {
  position: absolute;
  top: 5%;
  left: 4%; }

.overlay {
  position: absolute;
  bottom: 0;
  z-index: 2; }

.day-menu {
  width: 100%;
  border: 1px solid red;
  padding: 20px;
  overflow: hidden; }

.day-menu__heading-container {
  width: 100%;
  float: right;
  border-bottom: 2px solid red; }

.day-menu__logo {
  height: 40px;
  width: 106px;
  margin-top: -8px;
  float: left;
  height: auto; }

.day-menu__heading {
  float: right;
  padding-top: 5px;
  margin-bottom: 14px; }

.day-menu__item {
  overflow: hidden;
  margin: 3.20946% 2.02703%;
  margin-bottom: 0; }
  .day-menu__item:nth-child(2) {
    margin-right: 0; }
  .day-menu__item:nth-child(4) {
    margin-left: 0; }

.day-menu__item-image {
  width: 100%; }

.day-menu__item-ico {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  z-index: 4;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%); }

.featured-video {
  position: relative;
  margin-bottom: 39px; }

.featured-content {
  border: 1px solid yellow; }
  @media (max-width: 450px) {
    .featured-content {
      width: 100%; } }

.featured-content__image {
  width: 100%; }

.featured-content__button {
  width: 100px;
  margin: 0 auto;
  float: none !important;
  margin-top: -40px;
  z-index: 10;
  position: relative; }

.featured-content__text {
  text-align: center;
  font-size: 24px;
  padding: 20px; }

.chef-of-the-month {
  border: 1px solid purple;
  text-align: center; }
  .chef-of-the-month img {
    display: inline; }
  @media (max-width: 450px) {
    .chef-of-the-month {
      width: 100%; } }

.chef-of-the-month__heading {
  padding: 18px 0; }

.chef-of-the-month__image-wrap {
  border-radius: 50%;
  margin-top: 7px; }

.chef-of-the-month__name {
  margin-top: 12px; }

.chef-of-the-month__bottom-text {
  overflow: hidden;
  width: 100%;
  margin-top: 37px; }

.chef-of-the-month__bottom-left {
  float: left; }

.chef-of-the-month__bottom-right {
  float: right; }

.mpu {
  width: 100%; }

.button, .featured-video .ch-button, .step-by-step-recipe .ch-button, .featured-content__button {
  color: white;
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  padding: 0 10px;
  background: #F03D65;
  text-align: center;
  float: right; }

.banner__container {
  width: 100%;
  text-align: center;
  padding: 30px 0; }
  .banner__container .banner {
    width: 100%;
    max-width: 735px; }
  @media (max-width: 450px) {
    .banner__container {
      display: none; } }

.trending-topic {
  width: 100%;
  overflow: hidden; }

.trending-topic__item {
  overflow: hidden;
  margin: 1.57978%; }
  .trending-topic__item img {
    width: 100%;
    display: block; }
  @media (max-width: 450px) {
    .trending-topic__item {
      width: 100%; } }

.step-by-step-recipe {
  position: relative; }
  .step-by-step-recipe img {
    display: inline; }

.trending-fb-recipes {
  float: right; }
  .trending-fb-recipes .heading-container {
    width: 100%;
    float: right;
    border-bottom: 2px solid red; }
  .trending-fb-recipes .heading {
    float: right;
    padding-top: 5px;
    margin-bottom: 14px; }
  .trending-fb-recipes .logo {
    height: 40px;
    width: 106px;
    margin-top: -8px;
    float: left;
    height: auto; }
  .trending-fb-recipes .item {
    margin: 3.00158% 1.89573%; }
    .trending-fb-recipes .item:nth-child(2), .trending-fb-recipes .item:nth-child(5) {
      margin-right: 0; }
    .trending-fb-recipes .item:nth-child(4), .trending-fb-recipes .item:nth-child(7) {
      margin-left: 0; }
    @media (max-width: 450px) {
      .trending-fb-recipes .item {
        width: 100%;
        margin: 10px 0; } }
  .trending-fb-recipes .item-image {
    width: 100%; }
    @media (max-width: 450px) {
      .trending-fb-recipes .item-image {
        width: 50%; } }
  @media (max-width: 450px) {
    .trending-fb-recipes .item__heading {
      width: 50% !important;
      position: relative !important;
      float: left; } }
  .trending-fb-recipes .item__ico {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%); }

.featured-cookbooks {
  width: 100%;
  float: right;
  text-align: center;
  padding: 40px 0px 6px; }

.featured-cookbooks__item {
  display: inline-block;
  margin: 2.39583%;
  width: 18.64583%; }
  .featured-cookbooks__item img {
    width: 100%; }

.featured-cookbooks__list {
  padding-top: 13px;
  margin-top: 22px;
  padding-bottom: 19px;
  background: #F7F5E6; }

.featured-cookbooks__heading {
  text-align: right; }

.featured-cookbooks__name {
  color: #F03D65;
  margin: 20px 0 18px;
  font-size: 16px; }

.featured-cookbooks__info {
  font-size: 18px; }

.sidebar-topic {
  width: 100%;
  padding-top: 10px; }

.sidebar-topic__heading {
  text-align: center;
  width: 100%;
  font-size: 24px;
  padding: 13px 0; }

.sidebar-topic__item {
  width: 100%; }

.sidebar-topic__content {
  width: 100%;
  text-align: center; }

.sidebar-topic__text {
  font-size: 14px;
  padding-top: 11px;
  line-height: 24px; }

.sidebar-topic__image {
  width: 100%; }

.sidebar-topic__button {
  background: red;
  font-size: 14px;
  text-align: center;
  width: 100%;
  margin-top: 19px;
  line-height: 40px;
  height: 40px; }
