@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

a:hover, a:active, a:focus {
  outline: none; }

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit; }

html {
  font-family: "Droid Arabic Kufi", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #333; }
  @media (max-width: 900px) {
    html {
      font-size: 12px; } }
  @media (max-width: 600px) {
    html {
      font-size: 10px; } }
  @media (max-width: 480px) {
    html {
      font-size: 15px; } }

h2 {
  font-size: 2rem;
  color: #333; }
  @media (max-width: 480px) {
    h2 {
      font-size: 22px; } }

h3 {
  color: white;
  text-shadow: 2px 1px #503C2F;
  z-index: 3;
  position: relative; }
  @media (max-width: 480px) {
    h3 {
      font-size: 17px; } }

.bg-mask::after, .slider__box::after, .day-menu__item::after, .featured-video::after, .trending-topic__item::after, .step-by-step-recipe::after, .related-articles__item::after {
  content: url(../../assets/img/overlay-large.png);
  width: 100%;
  position: absolute;
  bottom: -3px;
  z-index: 2; }

.first {
  margin-right: 0 !important; }

.last {
  margin-left: 0 !important; }

.slider__box, .day-menu__item, .trending-fb-recipes .item, .trending-topic__item, .related-articles__item, .featured-content, .chef-of-the-month, .slider__box.first, .featured-video, .step-by-step-recipe {
  display: block;
  float: right;
  overflow: hidden; }
  .slider__box img, .day-menu__item img, .trending-fb-recipes .item img, .trending-topic__item img, .related-articles__item img, .featured-content img, .chef-of-the-month img, .slider__box.first img, .featured-video img, .step-by-step-recipe img {
    vertical-align: bottom; }

.slider__box, .day-menu__item, .trending-fb-recipes .item {
  width: 30.57432%;
  position: relative; }
  .slider__box h3, .day-menu__item h3, .trending-fb-recipes .item h3 {
    position: absolute;
    color: white;
    line-height: 20px;
    width: 100%;
    padding: 4%;
    bottom: 12px;
    font-size: 1.33333rem;
    font-weight: 300;
    line-height: 25px;
    z-index: 3; }
    @media (max-width: 480px) {
      .slider__box h3, .day-menu__item h3, .trending-fb-recipes .item h3 {
        font-size: 1.13333rem !important;
        bottom: 0px; } }

.trending-topic__item, .related-articles__item {
  width: 31.12164%;
  position: relative; }
  .trending-topic__item h3, .related-articles__item h3 {
    position: absolute;
    color: white;
    line-height: 20px;
    width: 100%;
    padding: 4%;
    bottom: 0;
    font-size: 1.33333rem;
    font-weight: 300;
    line-height: 25px; }

.featured-content, .chef-of-the-month {
  width: 49%;
  margin: 0 1%;
  position: relative;
  padding-bottom: 47%; }
  @media (max-width: 480px) {
    .featured-content, .chef-of-the-month {
      padding-bottom: 91%; } }

.box--middle__inner {
  position: absolute;
  height: 100%;
  width: 100%; }

.slider__box.first {
  width: 57.91667%;
  height: auto;
  overflow: hidden; }
  .slider__box.first h3 {
    font-size: 2rem; }
    @media (max-width: 480px) {
      .slider__box.first h3 {
        font-size: 1.13333rem !important; } }

.featured-video, .step-by-step-recipe {
  width: 100%; }
  .featured-video h3, .step-by-step-recipe h3 {
    font-size: 2rem; }
    @media (max-width: 480px) {
      .featured-video h3, .step-by-step-recipe h3 {
        font-size: 1.26667rem !important; } }
  .featured-video .ch-item, .step-by-step-recipe .ch-item {
    width: 100%;
    display: block; }
  .featured-video .ch-heading, .step-by-step-recipe .ch-heading {
    padding: 33px 0 13px; }
  .featured-video .ch-content, .step-by-step-recipe .ch-content {
    position: absolute;
    bottom: 46px;
    padding: 20px; }
    @media (max-width: 480px) {
      .featured-video .ch-content, .step-by-step-recipe .ch-content {
        bottom: 18px; } }
  .featured-video .ch-button, .step-by-step-recipe .ch-button {
    margin-bottom: 20px; }

.sleekslider-container {
  width: 100%;
  position: relative; }
  @media (max-width: 480px) {
    .sleekslider-container .sleekslider {
      width: 10000% !important;
      left: 0;
      top: 0;
      padding-bottom: 0 !important;
      position: relative; } }
  @media (max-width: 480px) {
    .sleekslider-container .slide {
      width: 100vw !important;
      float: right;
      display: block;
      float: right;
      margin: 0 !important; } }
  .sleekslider-container .arrow-container {
    width: 100%;
    height: 100%;
    display: none; }
    @media (max-width: 480px) {
      .sleekslider-container .arrow-container {
        display: block; } }
  .sleekslider-container .sleekslider__arrow, .sleekslider-container .sleekslider__arrow--left, .sleekslider-container .sleekslider__arrow--right {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    background: black;
    z-index: 100; }
  .sleekslider-container .sleekslider__arrow--left {
    left: 0; }
  .sleekslider-container .sleekslider__arrow--right {
    right: 0; }

body, html {
  direction: rtl; }

.wrapper, .page-wrapper--transparent {
  width: 100%;
  max-width: 998px;
  position: relative;
  margin: 0 auto; }
  .wrapper .page-wrapper, .page-wrapper--transparent .page-wrapper, .wrapper .page-wrapper--no-padding-mobile, .page-wrapper--transparent .page-wrapper--no-padding-mobile, .wrapper .header-wrapper, .page-wrapper--transparent .header-wrapper {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 0 18px; }
    @media (max-width: 480px) {
      .wrapper .page-wrapper, .page-wrapper--transparent .page-wrapper, .wrapper .page-wrapper--no-padding-mobile, .page-wrapper--transparent .page-wrapper--no-padding-mobile, .wrapper .header-wrapper, .page-wrapper--transparent .header-wrapper {
        padding: 0 11px; } }

.ua-visitor-device-tablet .wrapper, .ua-visitor-device-tablet .page-wrapper--transparent {
  width: 1186px;
  max-width: 1286px;
  padding: 100px; }

@media (max-width: 480px) {
  .page-wrapper--no-padding-mobile {
    padding: 0 !important; } }

.page-wrapper--transparent {
  background: transparent; }

.header-wrapper {
  padding: 0;
  width: 100%;
  max-width: 998px;
  margin: 0 auto; }

.division, .division--8, .division--4 {
  float: right; }

.division--8 {
  width: 65.96%; }
  @media (max-width: 480px) {
    .division--8 {
      width: 100%; } }

.division--4 {
  width: 34%;
  padding-right: 2.08333%; }
  @media (max-width: 480px) {
    .division--4 {
      width: 100%;
      padding: 0; } }

.button, .button--slim, .featured-video .ch-button, .step-by-step-recipe .ch-button, .featured-content__button, .article__button {
  color: white;
  line-height: 40px;
  height: 40px;
  padding: 0 10px;
  background: #F03D65;
  text-align: center;
  float: right;
  position: relative;
  z-index: 5;
  font-size: 1rem;
  min-width: 120px; }

.button--slim, .featured-video .ch-button, .step-by-step-recipe .ch-button, .featured-content__button {
  height: 34px;
  line-height: 34px;
  padding: 0px 20px; }

.like-button {
  width: 40px;
  height: 40px;
  background-image: url("../../assets/img/like-icon-inactive.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .like-button.active {
    background-image: url("../../assets/img/like-icon-active.png"); }

.play-button {
  width: 40px;
  height: 40px;
  background-image: url("../../assets/img/play-icon-large.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.header {
  width: 100%; }

.header__top {
  width: 100%;
  line-height: 55px;
  height: 63px; }
  @media (max-width: 480px) {
    .header__top {
      display: none; } }

.header__top__item {
  float: left;
  margin-left: 25px; }

.header__middle {
  overflow: hidden;
  margin-bottom: 39px; }
  @media (max-width: 480px) {
    .header__middle {
      padding-top: 7px;
      margin-bottom: 0;
      background: #EFECD9; } }

.header-search--mobile, .header-profile--mobile, .header__menu-ico, .submit-recipe__ico {
  display: none;
  width: 40px;
  height: 40px;
  background-image: url("../../assets/img/search-ico-mobile.png");
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 480px) {
    .header-search--mobile, .header-profile--mobile, .header__menu-ico, .submit-recipe__ico {
      display: block;
      float: left; } }

.header-profile--mobile {
  background-image: url("../../assets/img/profile-ico-mobile.png"); }

.header__menu-ico {
  background-image: url("../../assets/img/menu-ico.png");
  float: right; }

.header__logo-container {
  float: right;
  margin-right: 17px;
  width: 22.5677%; }
  @media (max-width: 1150px) {
    .header__logo-container {
      margin-right: 2%;
      margin-left: 2%;
      width: 20.5677%; } }
  @media (max-width: 480px) {
    .header__logo-container {
      margin-right: 17px;
      width: 22.5677%;
      float: left;
      margin-left: 65px;
      padding: 6px 0; } }

.header__logo {
  width: 100%; }
  @media (max-width: 480px) {
    .header__logo {
      display: none; } }

.header__logo--mobile {
  display: none; }
  @media (max-width: 480px) {
    .header__logo--mobile {
      display: block; } }

.search {
  float: right;
  padding: 2.08333% 5.72917%;
  width: 70%; }
  @media (max-width: 1150px) {
    .search {
      width: 75%;
      padding: 2.08333% 0.72917%; } }
  @media (max-width: 480px) {
    .search {
      display: none; } }

.search__input {
  line-height: 34px;
  width: 60%;
  float: right; }

.search__button, .footer__search-button {
  height: 40px;
  line-height: 40px;
  width: 39px;
  float: right;
  background-image: url(../../assets/img/searchico.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F03D65; }

.advanced-search--text {
  float: right;
  line-height: 40px;
  padding: 0 10px; }

.advanced-search--button {
  float: left;
  height: 40px;
  width: 40px;
  background: url(../../assets/img/advanced.png);
  background-repeat: no-repeat;
  background-position: center; }

.shortcuts--mobile {
  display: none; }
  @media (max-width: 480px) {
    .shortcuts--mobile {
      display: block;
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc; } }

.submit-recipe, .sub-section {
  width: 50%;
  float: right;
  font-size: 1rem; }

.sub-section {
  text-align: center;
  border-right: 1px solid #ccc; }

.submit-recipe__ico {
  width: 50px;
  margin-right: 4px;
  margin-top: 5px;
  float: right;
  background-image: url(../../assets/img/post-recipe-ico.png); }

.leaderboard--mobile {
  width: 100%;
  display: none; }
  @media (max-width: 480px) {
    .leaderboard--mobile {
      display: block;
      float: left; } }

.nav {
  width: 100%;
  background: #F03D65;
  color: white;
  padding: 0 40px; }
  .nav.active {
    max-height: 173px; }
  @media (max-width: 480px) {
    .nav {
      padding: 0;
      overflow: hidden;
      max-height: 0; } }

.nav__item {
  display: inline;
  line-height: 42px;
  margin-left: 40px; }
  @media (max-width: 480px) {
    .nav__item {
      width: 50%;
      display: block;
      float: right;
      background: #f1f1f1;
      margin: 0;
      padding: 0 10px;
      color: #333;
      border-bottom: 1px solid #ccc; }
      .nav__item:nth-child(even) {
        border-right: 1px solid #ccc; } }

.home img {
  vertical-align: middle; }

.footer {
  border-top: 3px solid #F03D65;
  background: #F7F5E6;
  overflow: hidden;
  clear: both;
  z-index: 12000;
  position: relative; }

.footer__top {
  overflow: hidden;
  border-bottom: 1px solid gray; }

.footer__search-container {
  float: right; }
  @media (max-width: 480px) {
    .footer__search-container {
      width: 100%;
      text-align: center; } }

.footer__search-heading {
  padding: 48px 0 29px;
  width: 100%; }

.footer__search-input-container {
  overflow: hidden;
  padding-bottom: 25px; }
  @media (max-width: 480px) {
    .footer__search-input-container {
      width: 80%;
      margin: 0 auto; } }

.footer__search-input {
  line-height: 36px;
  /* border: none; */
  width: 242px;
  float: right; }
  @media (max-width: 480px) {
    .footer__search-input {
      width: 80%; } }

.footer__search-button {
  background: #F03D65;
  color: white;
  padding: 0 13px;
  width: auto; }
  @media (max-width: 480px) {
    .footer__search-button {
      width: 20%;
      padding: 0; } }

.footer__row {
  width: 100%;
  float: left;
  padding-top: 46px;
  padding-bottom: 36px;
  border-bottom: 1px solid; }

.footer__column {
  float: right;
  width: 25%; }
  @media (max-width: 480px) {
    .footer__column {
      display: none;
      width: 100%; } }

.footer__column--first {
  display: block;
  text-align: center; }

.footer__item {
  margin-bottom: 12px; }

.footer__bottom {
  float: right;
  width: 100%; }

.copyright {
  float: right; }
  @media (max-width: 480px) {
    .copyright {
      text-align: center;
      width: 100%; } }

.copyright__text {
  padding: 16px 0 19px; }
  @media (max-width: 480px) {
    .copyright__text {
      text-align: center; } }

.webedia-logo {
  margin-bottom: 36px; }

.bottom__links {
  float: left;
  padding: 14px 52px; }
  @media (max-width: 480px) {
    .bottom__links {
      display: none; } }

.bottom__link {
  display: inline; }

.footer-social {
  margin-top: 95px;
  float: left;
  margin-left: 54px; }
  @media (max-width: 480px) {
    .footer-social {
      margin: 0 auto;
      float: none;
      text-align: center;
      padding-bottom: 20px; } }

.footer-social__item {
  height: 24px;
  display: inline;
  margin-right: 10px; }

.slider {
  width: 100%;
  overflow: hidden;
  padding: 34px 0px 22px;
  position: relative; }
  @media (max-width: 480px) {
    .slider {
      height: 54vw;
      margin: 34px 0px 22px; } }

.slider__box {
  width: 18.85417%;
  margin: 0;
  margin-right: 2.1875%;
  margin-bottom: 2.39583%;
  overflow: hidden;
  position: relative; }
  .slider__box.first {
    margin: 0; }
  @media (max-width: 480px) {
    .slider__box {
      width: 100%;
      top: 0;
      left: 0;
      height: 57vw !important;
      position: relative;
      margin: 0; }
      .slider__box.first {
        width: 100%;
        display: block;
        z-index: 20; } }

.slider__box-image {
  width: 100%;
  display: block; }
  @media (max-width: 480px) {
    .slider__box-image {
      display: none; } }

.slider__box-image--mobile {
  width: 100%;
  display: none; }
  @media (max-width: 480px) {
    .slider__box-image--mobile {
      display: block; } }

.slider__box-play-icon {
  position: absolute;
  top: 5%;
  left: 4%;
  width: 22%; }

.overlay {
  position: absolute;
  bottom: 0;
  z-index: 2; }

.day-menu {
  width: 100%;
  border: 1px solid #F03D65;
  padding: 3.15956%;
  overflow: hidden; }
  @media (max-width: 480px) {
    .day-menu {
      padding: 8px 0;
      border: none; }
      .day-menu h3 {
        position: relative;
        background: white;
        color: #333;
        text-shadow: none; } }

.day-menu__heading-container {
  width: 100%;
  float: right;
  border-bottom: 2px solid #F03D65; }

.day-menu__logo {
  height: 40px;
  width: 106px;
  margin-top: -8px;
  float: left;
  height: auto; }
  @media (max-width: 480px) {
    .day-menu__logo {
      width: 74px; } }

.day-menu__heading {
  float: right;
  padding-top: 5px;
  margin-bottom: 14px; }

.day-menu__item {
  overflow: hidden;
  margin: 3.20946% 2.02703%;
  margin-bottom: 0; }
  .day-menu__item:nth-child(2) {
    margin-right: 0; }
  .day-menu__item:nth-child(4) {
    margin-left: 0; }
  @media (max-width: 480px) {
    .day-menu__item h3 {
      font-size: 0.93333rem !important;
      line-height: 21px; } }

.day-menu__item-image {
  width: 100%; }

.day-menu__item-ico {
  position: absolute;
  width: 35%;
  top: 50%;
  left: 50%;
  z-index: 4;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%); }
  @media (max-width: 480px) {
    .day-menu__item-ico {
      top: 25%; } }

.featured-video {
  position: relative;
  margin-bottom: 39px; }
  @media (max-width: 480px) {
    .featured-video {
      margin-bottom: 31px; } }

.media-type__icon {
  position: absolute;
  top: 5%;
  left: 4%;
  z-index: 5;
  width: 9%; }

.ch-item {
  position: relative; }

.add__container {
  width: 100%;
  width: 1000px;
  margin: 0 auto;
  position: fixed;
  z-index: 999;
  overflow: visible;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 999;
  height: 215px; }
  @media (max-width: 480px) {
    .add__container {
      display: none; } }

.add__top {
  height: 215px; }

.add__left {
  position: fixed;
  z-index: 999;
  height: 1100px;
  width: 220px;
  left: 50%;
  margin-left: -719px;
  top: 0; }

.add__right {
  position: fixed;
  z-index: 998;
  height: 1100px;
  width: 220px;
  right: 50%;
  margin-right: -719px;
  top: 0; }

.featured-content {
  border: 1px solid #ccc; }
  @media (max-width: 480px) {
    .featured-content {
      width: 100%;
      margin-bottom: 32px; } }

.featured-content__image {
  width: 100%; }

.featured-content__button {
  width: 141px;
  margin: 0 auto;
  float: none !important;
  margin-top: -21px;
  z-index: 10;
  position: relative; }

.featured-content__text {
  text-align: center;
  font-size: 1.6rem;
  padding: 6.45161% 6.45161% 11.29032%;
  line-height: 26px;
  height: 34.74026%; }

.chef-of-the-month {
  border: 1px solid #ccc;
  text-align: center; }
  .chef-of-the-month img {
    display: inline; }
  @media (max-width: 480px) {
    .chef-of-the-month {
      width: 100%;
      margin: 0; } }

.chef-of-the-month__heading {
  padding: 5.80645% 0;
  height: 18.3871%;
  margin-bottom: 2.05371%; }

.chef-of-the-month__logo {
  width: 15%; }

.chef-of-the-month__image-wrap {
  border-radius: 50%;
  margin-top: 2.25806%; }

.chef-of-the-month__image {
  width: 28%; }

.chef-of-the-month__name {
  margin-top: 3.87097%;
  height: 3.87097%; }

.chef-of-the-month__bottom-text {
  background: #F9F8F4;
  margin-top: 7.74194%;
  line-height: 40px;
  padding: 0 8px;
  display: block;
  float: right;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: #f03d65; }

.chef-of-the-month__bottom-left {
  float: left; }

.chef-of-the-month__bottom-right {
  float: right; }

.number {
  margin: 5px; }

.mpu__container, .mpu__container--mobile, .mpu__container--desk {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  position: relative; }
  .mpu__container .mpu, .mpu__container--mobile .mpu, .mpu__container--desk .mpu {
    right: 0; }

.mpu__container--mobile {
  display: none; }
  @media (max-width: 480px) {
    .mpu__container--mobile {
      display: block; } }

@media (max-width: 480px) {
  .mpu__container--desk {
    display: none; } }

.banner__container {
  width: 100%;
  text-align: center;
  padding: 30px 0 63px;
  background: white;
  position: relative; }
  .banner__container .banner {
    width: 100%;
    max-width: 735px; }
  @media (max-width: 480px) {
    .banner__container {
      display: none; } }

.trending-topic {
  width: 100%;
  overflow: hidden;
  margin-bottom: 16px; }

.trending-topic__item {
  overflow: hidden;
  margin: 1.57978%; }
  .trending-topic__item img {
    width: 100%;
    display: block; }
  @media (max-width: 480px) {
    .trending-topic__item {
      width: 100%;
      height: 50vw;
      margin-bottom: 15px; } }

.trending-topic__heading {
  margin-bottom: 9px; }
  @media (max-width: 480px) {
    .trending-topic__heading {
      margin-top: 30px; } }

@media (max-width: 480px) {
  .trending-topic__image {
    display: none !important; } }

.trending-topic__image--mobile {
  display: none !important; }
  @media (max-width: 480px) {
    .trending-topic__image--mobile {
      display: block !important;
      width: 100%; } }

.article {
  width: 100%;
  padding-top: 7px; }

.article__heading {
  padding: 33px 0 20px; }

.article__author {
  width: 100%;
  float: right;
  margin-bottom: 7px; }
  .article__author .social {
    margin-top: 23px; }
    @media (max-width: 480px) {
      .article__author .social {
        width: 100%; } }

.article__author__image-wrapper {
  float: right;
  border-radius: 50%; }

@media (max-width: 480px) {
  .article__author__image {
    width: 47px; } }

.article__author__name {
  float: right;
  margin-right: 17px;
  padding-top: 30px; }
  @media (max-width: 480px) {
    .article__author__name {
      margin-right: 11px;
      padding-top: 18px; } }

.social {
  float: left; }

.social__item {
  border: 1px solid #ccc; }

.social__item__image {
  width: 33px;
  height: 33px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 480px) {
    .social__item__image {
      width: 40px;
      height: 40px; } }

.twitter {
  background-image: url("../../assets/img/twitter-ico.png");
  background-size: 19px; }

.facebook {
  background-image: url("../../assets/img/fb-ico.png");
  background-size: 11px; }
  @media (max-width: 480px) {
    .facebook {
      background-size: 14px; } }

.whatsup {
  background-image: url("../../assets/img/whatsup-ico.png");
  background-size: 25px; }

.social__item__info {
  float: left;
  height: 33px;
  padding: 12px;
  border-right: 1px solid #ccc; }
  @media (max-width: 480px) {
    .social__item__info {
      height: 40px;
      padding: 12px 18px;
      font-size: 1.06667rem; } }

.social__item {
  display: inline-block;
  margin-right: 9px; }
  @media (max-width: 480px) {
    .social__item {
      margin-right: 10px; } }

.article__item {
  width: 100%;
  margin-bottom: 36px;
  float: left; }

.article__text {
  margin-bottom: 36px;
  line-height: 27px; }

.article__social {
  overflow: hidden;
  margin: 33px 0; }
  @media (max-width: 480px) {
    .article__social .social {
      display: inline-block;
      float: none;
      margin-bottom: 20px; } }

.article__button p {
  float: right; }

.article__button img {
  float: right;
  margin-top: 7px;
  margin-left: 14px; }

.step-by-step-recipe {
  position: relative;
  margin-bottom: 66px; }
  .step-by-step-recipe img {
    display: inline; }
  @media (max-width: 480px) {
    .step-by-step-recipe {
      margin-bottom: 34px; }
      .step-by-step-recipe .ch-heading {
        padding-top: 0; } }

.trending-fb-recipes {
  float: right;
  border: 1px solid gray;
  padding: 2.68562%; }
  .trending-fb-recipes .heading-container {
    width: 100%;
    float: right;
    border-bottom: 2px solid #F03D65; }
  .trending-fb-recipes .heading {
    float: right;
    padding-top: 5px;
    margin-bottom: 14px; }
  .trending-fb-recipes .logo {
    height: 40px;
    margin-top: 10px;
    float: left;
    height: auto; }
  .trending-fb-recipes .item {
    margin: 1.89573% 1.89573%; }
    .trending-fb-recipes .item:nth-child(2), .trending-fb-recipes .item:nth-child(5) {
      margin-right: 0; }
    .trending-fb-recipes .item:nth-child(4), .trending-fb-recipes .item:nth-child(7) {
      margin-left: 0; }
    @media (max-width: 480px) {
      .trending-fb-recipes .item {
        width: 100%;
        margin: 10px 0; } }
  .trending-fb-recipes .item-image {
    width: 100%; }
    @media (max-width: 480px) {
      .trending-fb-recipes .item-image {
        width: 50%; } }
  @media (max-width: 480px) {
    .trending-fb-recipes .item__heading {
      width: 50% !important;
      position: relative !important;
      float: left;
      color: #333 !important;
      text-shadow: none; } }
  .trending-fb-recipes .item__ico {
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%); }
  @media (max-width: 480px) {
    .trending-fb-recipes {
      padding: 0;
      border: none; } }

.featured-cookbooks {
  width: 100%;
  float: right;
  text-align: center;
  padding: 40px 0px 6px; }
  @media (max-width: 480px) {
    .featured-cookbooks {
      background: #F7F5E6;
      margin-top: 35px;
      padding: 33px 0 0;
      overflow: hidden; } }

.featured-cookbooks__item {
  display: inline-block;
  margin: 2.39583%;
  width: 18.64583%; }
  .featured-cookbooks__item img {
    width: 100%; }
  @media (max-width: 480px) {
    .featured-cookbooks__item {
      margin: -8px 9px 22px; } }

.featured-cookbooks__list {
  padding-top: 13px;
  margin-top: 22px;
  padding-bottom: 19px;
  background: #F7F5E6; }
  @media (max-width: 480px) {
    .featured-cookbooks__list {
      width: 297%;
      position: relative;
      left: 65%; } }

.featured-cookbooks__heading {
  text-align: right; }
  @media (max-width: 480px) {
    .featured-cookbooks__heading {
      text-align: center; } }

.featured-cookbooks__name {
  color: #F03D65;
  margin: 20px 0 18px;
  font-size: 1.06667rem; }

.featured-cookbooks__info {
  font-size: 1.2rem; }

.sidebar-topic {
  width: 100%;
  padding-top: 10px;
  border: 1px solid #ccc;
  margin-bottom: 36px; }

.sidebar-topic__heading {
  text-align: center;
  width: 100%;
  font-size: 1.6rem;
  padding: 13px 0; }

.sidebar-topic__item {
  width: 100%; }

.sidebar-topic__content {
  width: 100%;
  text-align: center; }

.sidebar-topic__text {
  font-size: 0.93333rem;
  padding-top: 11px;
  line-height: 24px;
  color: #999999; }

.sidebar-topic__image {
  width: 100%; }

.sidebar-topic__button {
  background: #F9F8F4;
  font-size: 0.86667rem;
  text-align: center;
  width: 100%;
  margin-top: 19px;
  line-height: 40px;
  height: 40px;
  color: #F03D65; }

.social {
  float: left; }

.social__item {
  border: 1px solid #ccc; }

.social__item__image {
  width: 33px;
  height: 33px;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.twitter {
  background-image: url("../../assets/img/twitter-ico.png");
  background-size: 19px; }

.facebook {
  background-image: url("../../assets/img/fb-ico.png");
  background-size: 11px; }

.whatsup {
  background-image: url("../../assets/img/whatsup-ico.png");
  background-size: 25px; }

.social__item__info {
  float: left;
  height: 33px;
  padding: 12px;
  border-right: 1px solid #ccc; }

.social__item {
  display: inline-block;
  margin-right: 9px; }

.related-articles {
  width: 100%;
  overflow: hidden;
  margin-bottom: 69px; }

.related-articles__item {
  overflow: hidden;
  margin: 1.57978%; }
  @media (max-width: 480px) {
    .related-articles__item {
      width: 47%;
      margin-bottom: 28px; }
      .related-articles__item h3 {
        position: relative;
        color: #333;
        text-shadow: none; }
      .related-articles__item:after {
        display: none; } }

@media (max-width: 480px) {
  .related-articles .related-articles__item:nth-child(odd) {
    margin-right: 0;
    float: right; } }

@media (max-width: 480px) {
  .related-articles .related-articles__item:nth-child(even) {
    margin-left: 0;
    float: left; } }

.comments {
  width: 100%;
  float: left;
  overflow: hidden; }
  .comments textarea {
    width: 90%;
    height: 105px;
    float: left; }
    @media (max-width: 480px) {
      .comments textarea {
        width: 100%; } }

.comments__user-image {
  width: 8%;
  margin-right: 1%; }
  @media (max-width: 480px) {
    .comments__user-image {
      width: 43px; } }

.comments__heading {
  margin-bottom: 37px; }
  @media (max-width: 480px) {
    .comments__heading {
      margin-bottom: 10px; } }

.comments__button {
  float: left;
  padding: 14px 46px;
  background: #A1A1A1;
  margin-top: 25px;
  color: white;
  font-size: 1.06667rem; }
  @media (max-width: 480px) {
    .comments__button {
      float: none;
      display: inline-block; } }

@media (max-width: 480px) {
  .comments__button__container {
    text-align: center;
    width: 100%;
    overflow: hidden; } }

.sb-trending {
  width: 100%;
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 5%;
  margin-top: 38px;
  margin-bottom: 29px; }

.sb-trending__heading-container {
  width: 100%;
  float: right;
  border-bottom: 2px solid #F03D65;
  margin-bottom: 24px; }

.sb-trending__logo {
  margin-top: 10px;
  float: left;
  height: auto; }

.sb-trending__heading {
  float: right;
  padding-top: 5px;
  margin-bottom: 14px; }

.sb-trending__item {
  float: right;
  width: 100%;
  margin-bottom: 23px;
  position: relative; }

.sb-trending__image {
  width: 47%;
  float: right; }

.sb-trending__content {
  width: 53%;
  float: right;
  padding-right: 6%; }

.sb-trending__text {
  font-size: 1.26667rem;
  line-height: 1.46667rem; }

.rating {
  text-align: center;
  position: absolute;
  bottom: 12px; }

.rating__item {
  display: inline-block;
  background-image: url(../../assets/img/star-gray.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 21px;
  height: 21px; }
  .rating__item.active {
    background-image: url(../../assets/img/star.png); }

.poll {
  width: 100%;
  margin-top: 46px;
  border: 1px solid #ccc; }

.poll__item {
  width: 100%; }

.poll__content {
  padding-right: 7.84314%; }

.poll__heading {
  font-size: 1.6rem;
  margin-top: 19px;
  margin-bottom: 40px; }

.poll__list__item {
  font-size: 1.13333rem;
  margin-bottom: 18px; }
  .poll__list__item input {
    float: right;
    margin-left: 20px;
    width: 16px;
    height: 17px;
    margin: 0 0 0 37px; }

.poll__button-container {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 25px;
  text-align: center; }
  .poll__button-container .button, .poll__button-container .button--slim, .poll__button-container .featured-video .ch-button, .featured-video .poll__button-container .ch-button, .poll__button-container .step-by-step-recipe .ch-button, .step-by-step-recipe .poll__button-container .ch-button, .poll__button-container .featured-content__button, .poll__button-container .article__button {
    display: inline-block;
    float: none;
    padding: 0 55px; }

.appetizer__container {
  width: 100%; }

.appetizer__heading {
  padding: 39px 0 12px; }

.appetizer {
  width: 31.66%;
  margin: 1.255%;
  float: right;
  position: relative; }
  .appetizer h3 {
    position: absolute;
    bottom: 30px;
    padding: 0 25px;
    display: none; }
  @media (max-width: 480px) {
    .appetizer {
      display: none; } }

.appetizer:nth-child(2) {
  margin-right: 0; }

.appetizer:nth-child(4) {
  margin-left: 0; }

.appetizer--big {
  width: 100%;
  margin: 0; }
  @media (max-width: 480px) {
    .appetizer--big {
      display: block; } }
  .appetizer--big h3 {
    display: block; }

.appetizer__item {
  width: 100%; }

.recipe-list {
  width: 100%;
  float: right; }
  .recipe-list .rating {
    bottom: 0px; }

.recipe-list__item {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 22px; }

.recipe-list__item__media {
  width: 50%;
  float: right;
  position: relative;
  overflow: hidden;
  padding-left: 2%; }
  .recipe-list__item__media .like-button {
    position: absolute;
    top: 10px;
    right: 10px; }
  .recipe-list__item__media .play-button {
    position: absolute;
    top: 10px;
    left: 8%; }
  @media (max-width: 480px) {
    .recipe-list__item__media {
      width: 48%;
      padding-left: 0;
      margin-left: 7%; } }

.recipe-list__item__content {
  width: 50%;
  height: 100%;
  float: right; }
  @media (max-width: 480px) {
    .recipe-list__item__content {
      width: 45%; } }

.recipe-list__item__heading {
  color: #333;
  text-shadow: none;
  font-size: 1.8rem;
  line-height: 32px;
  margin-bottom: 19px; }
  @media (max-width: 480px) {
    .recipe-list__item__heading {
      font-size: 1.2rem;
      line-height: 1.53333rem; } }

.recipe-list__item__name {
  color: #f03d65; }

.recipe-list__item__image {
  width: 100%; }
  @media (max-width: 480px) {
    .recipe-list__item__image {
      width: 178%; } }

.pagination, .pagination--mobile {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 40px;
  margin-top: 18px;
  float: left; }
  @media (max-width: 480px) {
    .pagination, .pagination--mobile {
      display: none; } }

.pagination--mobile {
  display: none; }
  @media (max-width: 480px) {
    .pagination--mobile {
      display: block; } }

.pagination__item {
  display: inline-block;
  height: 32px;
  width: 32px;
  background: white;
  line-height: 2rem;
  margin: 1px;
  border: 1px solid #ccc;
  color: #333;
  margin-bottom: 5px;
  vertical-align: bottom; }
  .pagination__item.active {
    background: #F03D65;
    color: white; }

.pagination__item--next {
  background-image: url("../../assets/img/next.png");
  background-repeat: no-repeat;
  background-position: center; }

.pagination__item--last {
  background-image: url("../../assets/img/last.png");
  background-repeat: no-repeat;
  background-position: center; }

.appetizer-info {
  width: 100%;
  float: right;
  width: 100%;
  float: right;
  margin-bottom: 31px;
  background: #FAFAFA;
  padding: 32px 38px; }
  @media (max-width: 480px) {
    .appetizer-info {
      padding: 23px 8px; } }
  .appetizer-info .social {
    float: right;
    margin-top: 29px; }
  .appetizer-info .social__item {
    margin-right: 4px; }
  .appetizer-info .social__item__image {
    width: 30px;
    height: 30px; }
  .appetizer-info .social__item__info {
    height: 30px;
    padding: 9px 12px; }

.appetizer-info__heading {
  font-size: 1.6rem;
  margin-bottom: 17px; }

.appetizer-info__text {
  line-height: 22px; }

.appetizer-info__button {
  font-size: 0.73333rem;
  color: #F03D65;
  display: block; }

.category-page .mpu__container.first, .category-page .first.mpu__container--mobile, .category-page .first.mpu__container--desk {
  margin-top: 33px; }

.category-page .pagination, .category-page .pagination--mobile {
  margin-top: 97px; }

.category-page .banner__container {
  padding: 22px 0 116px; }
