.w-create-recipe {
  input, textarea {
    float: right;
    width: 100%;
  }
  h2 {
    margin-top: 60px;
  }
  h6 {
    margin-top: 50px;
    margin-bottom: 20px;
    float: right;
    width: 100%;
  }
  select {
    float: right;
  }
  span {
    color:#F03D65;
  }
  .button {
    margin-top:40px;
    margin-bottom: 80px;
    clear: both;
  }
}
.w-create-recipe__settings{
  overflow: hidden;
}
.w-create-recipe__settings__item {
  width: 50%;
  float: right;
}
.w-create-recipe__upload {
  padding: 20px;
  display: inline-block;
  background: #ccc;
  border: 1px solid;
  margin-top: 45px;
  margin-bottom: 70px;
}
