.w-menu__section {
  @extend .media__container;
}
.w-menu {
  h2 {
    padding:20px 0 30px;
  }
  &>p {
    line-height: 30px;
  }
  .b-social {
    float: right;
    margin-top:51px;
    margin-bottom: 115px;
  }
}
.w-menu__section {
  border-top:1px solid #ccc;
  padding-top:50px;
  padding-bottom: 40px;
  h4 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.w-menu__element {
  @extend .media--medium;
}
.w-menu__element__item {
  @extend .media__item;
}
.w-menu__element__content {
  @extend .media__content;
  p {
    color:#F03D65;
  }
}
