.w-poll {
  width: 100%;
  margin-top: 46px;
  border:1px solid #ccc;
}
.w-poll__item {
  width: 100%;
}
.w-poll__content {
  padding-right: cp(24px, 306px);
}
.w-poll__heading {
  font-size: calc-rem(24px);
  margin-top: 19px;
  margin-bottom: 40px;
}
.w-poll__list__item {
  font-size: calc-rem(17px);
  margin-bottom: 18px;
  input {
    float: right;
    margin-left: 20px;
    width: 16px;
    height: 17px;
    margin: 0 0 0 37px;
  }
}
.w-poll__button-container {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 25px;
  text-align: center;
  .button {
    display: inline-block;
    float: none;
    padding: 0 55px
  }
}
