.w-recipe {
  @extend .article;
  overflow: hidden;
  .b-rating {
    float: left;
    position: relative;
    margin-top: 48px;
    margin-right: 40px;
  }
  .b-social {
    margin-top: 26px;
  }
}
.w-recipe__heading {
  @extend .article__heading;
  float: right;
  width: 100%;
}
.w-recipe__author {
  @extend .article__author;
}
.w-recipe__author__name {
  @extend .article__author__name;
}
.w-recipe__author__name {
  @extend .article__author__name;
}
.w-recipe__author__image {
  @extend .article__author__image;
  display: block;
  border-radius: 50%;
  float: right;
}
.w-recipe__item-container {
  float: right;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.w-recipe__item {
  position: relative;
}
.w-recipe__actions {
  float: right;
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.w-recipe__actions__button {
  float: right;
  line-height: 37px;
  padding-top: 13px;
  margin-left: 30px;
  p {
    float: right;
    color:#ccc;
  }
  img {
    float: right;
    margin-left: 12px;
  }
  @include breakpoint(mobile) {
    margin-left:10px;
  }
}
.w-recipe__ingredients {
  width: 100%;
  float: right;
  overflow: hidden;
  margin-bottom: 36px;
}
.w-recipe__ingredients__heading {
  margin-bottom: 30px;
  font-size: 26px;
  margin-top: 67px;
  margin-bottom: 30px;
}
.w-recipe__ingredients--left {
  width: 47%;
  margin-right: 3%;
  float: right;
  @include breakpoint(mobile) {
    width: 100%;
    margin:0;
  }
}
.w-recipe__ingredients--right {
  width: 49%;
  margin-left: 1%;
  float: right;
  @include breakpoint(mobile) {
    width: 100%;
  }
}
.w-recipe__info {
  padding-top: 24px;
  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
  }
}
.w-recipe__buttons {
  width: 100%;
  margin-top: 32px;
  float: right;
  text-align: center;
  margin-bottom: 48px;
  p {
    font-size: 18px;
    margin-bottom: 45px;
  }
}
.w-recipe__button {
  @extend .button;
  display:inline-block;
  margin:0 10px;
  float: none;
  .icon {
    height: 20px;
    width: 20px;
    float: right;
    margin-top: 11px;
    margin-left: 20px;
  }
  @include breakpoint(mobile) {
    margin-bottom: 20px;
    width: 70%;
  }
}
.w-recipe__prep-info {
  width: 100%;
  overflow: hidden;
}
.w-recipe__prep-info__item {
  width: 33%;
  text-align: center;
  padding:2%;
  float: right;
  font-size: 15px;
  h5 {
    color: #ccc;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    text-align: center;
    color:#F03D65;
    font-size: 13px;
    display: inline-block;
    vertical-align: bottom;
  }
  img {
    display: inline-block;
    vertical-align: bottom;
    height: 25px;
    margin-left: 10px;
  }
  span {
    font-size: 20px;
    margin-left:5px;
  }
  &.active {
    background: #F03D65;
    p {
      color: white;
    }
    img {
    }
  }
}
.w-recipe__prep-info--right {
  width: 60%;
  overflow: hidden;
  float: right;
  @include breakpoint(mobile) {
    width: 100%;
  }
}
.w-recipe__prep-info--left {
  width: 40%;
  overflow: hidden;
  float: right;
  @include breakpoint(mobile) {
    width: 100%;
  }
  .w-recipe__prep-info__item {
    width: 50%;
  }
}
.w-recipe__prep-info__item--padding {
  @extend .w-recipe__prep-info__item;
  padding-top: 33px;
}
