.w-recipe {
  @extend .article;
  overflow: hidden;
  .b-rating {
    float: left;
    position: relative;
    margin-top: 48px;
    margin-right: 40px;
  }
  .b-social {
    margin-top: 26px;
  }
}
.w-recipe__heading {
  @extend .article__heading;
  float: right;
  width: 100%;
}
.w-recipe__author {
  @extend .article__author;
}
.w-recipe__author__name {
  @extend .article__author__name;
}
.w-recipe__author__name {
  @extend .article__author__name;
}
.w-recipe__author__image {
  @extend .article__author__image;
  display: block;
  border-radius: 50%;
  float: right;
}
.w-recipe__item-container {
  float: left;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.w-recipe__actions {
  float: right;
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.w-recipe__actions__button {
  float: right;
  line-height: 37px;
  padding-top: 13px;
  margin-left: 30px;
  p {
    float: right;
    color:#ccc;
  }
  img {
    float: right;
    margin-left: 12px;
  }
  @include breakpoint(mobile) {
    margin-left:10px;
  }
}
.w-recipe__ingredients {
  width: 100%;
  float: right;
  overflow: hidden;
}
.w-recipe-ingredients__heading {

}
.w-recipe__ingredients--left {
  width: 47%;
  margin-right: 3%;
  float: right;
  @include breakpoint(mobile) {
    width: 100%;
    margin:0;
  }
}
.w-recipe__ingredients--right {
  width: 49%;
  margin-left: 1%;
  float: right;
  @include breakpoint(mobile) {
    width: 100%;
  }
}
.w-recipe__info {
  padding-top: 24px;
  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 33px;
  }
}
.w-recipe__buttons {
  width: 100%;
  margin-top: 32px;
  float: right;
  text-align: center;
  p {
    font-size: 18px;
    margin-bottom: 45px;
  }
}
.w-recipe__button {
  @extend .button;
  display:inline-block;
  margin:0 10px;
  float: none;
  .icon {
    height: 20px;
    width: 20px;
    float: right;
    margin-top: 11px;
    margin-left: 20px;
  }
  @include breakpoint(mobile) {
    margin-bottom: 20px;
    width: 70%;
  }
}
