.category-page {
  .mpu__container.first {
    margin-top: 33px;
  }
  .pagination {
    margin-top: 97px;
  }
  .banner__container {
    padding: 22px 0 116px;
  }
  .sleekslider__arrow--left, .sleekslider__arrow--right {
    margin-top: 9%;
  }
}
