body, html {
  direction: rtl;
}
.wrapper {
  width:100%;
  max-width: 998px;
  position: relative;
  margin: 0 auto;
    .page-wrapper {
      display: block;
      width: 100%;
      position: relative;
      overflow: hidden;
      padding:0 18px;
      @include breakpoint(mobile) {
        padding:0 11px;
      }
  }
}
.ua-visitor-device-tablet {
  .wrapper {
    width:1186px;
    max-width: 1286px;
    padding: 100px;
  }
}
.page-wrapper--no-padding-mobile {
  @extend .page-wrapper;
  @include breakpoint(mobile) {
    padding: 0 !important;
  }
}
.page-wrapper--transparent {
  @extend .wrapper;
  background: transparent;
}
.header-wrapper {
  @extend .page-wrapper;
  padding:0;
  width: 100%;
  max-width: 998px;
  margin: 0 auto;
}
.division {
  float: right;
}
.division--8 {
  @extend .division;
  width: 65.96%;
  @include breakpoint(mobile) {
    width: 100%;
  }
}
.division--4 {
  @extend .division;
  width: 34%;
  padding-right: cp(20px,960px);
  @include breakpoint(mobile) {
    width: 100%;
    padding: 0;
  }
}
