body, html {
  direction: rtl;
  background: #0CD4C6;
}
.page-wrapper {
  width: 100%;
  max-width: 997px;
  margin:0 auto;
  background: white;
  height: 100%;
  padding:0 18px;
  overflow: hidden;
}
.page-wrapper--transparent {
  @extend .page-wrapper;
  background: transparent;
}
.header-wrapper {
  @extend .page-wrapper;
  padding:0;
}
.division {
  float: right;
}
.division--8 {
  @extend .division;
  width: 65.96%;
}
.division--4 {
  @extend .division;
  width: 34%;
}
