.mpu__container {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  position: relative;
  .mpu {
    right: 0;
  }
}
.mpu__container--mobile {
  @extend .mpu__container;
  display: none;
  @include breakpoint(mobile) {
    display: block;
  }
}
.mpu__container--desk {
  @extend .mpu__container;
  @include breakpoint(mobile) {
    display: none;
  }
}
