.skinning__container {
  width: 100%;
  width: 1000px;
  margin: 0 auto;
  position: fixed;
  z-index: 999;
  overflow: visible;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 999;
  height: 215px;
  @include breakpoint(mobile) {
    display: none;
  }
}
.skinning {
  // background-image: url("../../assets/img/skinning-pattern.png");
}
.skinning__top {
  height: 215px;
  @extend .skinning;
}
.skinning__left {
  position: fixed;
  z-index: 999;
  height: 1100px;
  width: 220px;
  left: 50%;
  margin-left: -719px;
  top: 0;
  @extend .skinning;
}
.skinning__right {
  position: fixed;
  z-index: 998;
  height: 1100px;
  width: 220px;
  right:  50%;
  margin-right:-719px;
  top: 0;
  @extend .skinning;
}
